<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    <main layout:fragment="main">
        
        <div class="container text-center">
        
            <h1>비밀번호 찾기</h1>
            <form method="post" action="/user/new_password" id="formNewPassword">
                <div class="row p-1 my-1">
                    <div class="col-2">
                        <label for="username">아이디 : </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="username" 
                        placeholder="매장이름을 적어주세요 EX) 아이티윌_(강남점)" required autofocus>
                    </div>
                </div>
                
                <div class="row p-1 my-1">
                    <div class="col-2">
                        <label for="email">이메일 : </label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="email" name="email"
                        placeholder="가입시 적은 이메일을 적어주세요" required>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary" id="btnSendCode">인증발송</button>
                    </div>
                </div>
                
                <div class="row p-1 my-1 d-none" id="divAuthenticate">
                    <div class="col-2">
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" id="cerNumber"
                        placeholder="이메일로 받은 인증번호를 적어주세요" required>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary" id="btnAuthenticate" disabled>인증완료</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-outline-secondary" id="btnRetry">재전송</button>
                    </div>
                </div>
                <div class="row p-1 my-1 d-none" id="divTime">
                    <div class="col">
                        <label>남은 시간 :</label>                
                    </div>
                    <div class="col">
                        <font id="fontLeftTime"></font>
                    </div>
                </div>
                
                <div class="d-grid gap-2 col-6 mx-auto my-4">
                    <button class="btn btn-primary" type="button" id="btnFindPassword" disabled>찾기</button>
                    <input class="btn btn-primary" type="button" value="취소" onclick="location.href='/'"/>                      
                </div>
            </form>
        </div>
    </main>
    
    <th:block layout:fragment="myscripts">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/store/find_password_input_check.js"></script>
    </th:block>
    
</html>